<h1>New post</h1>
<form action="<%= posts_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title
    <input type="text" name="post[title]" value="<%= current_post.title %>" required>
  </label>
  <label>Url
    <input type="url" name="post[url]" value="<%= current_post.url %>">
  </label>
  <label>Content
    <textarea name="post[content]"><%= current_post.content %></textarea>
  </label>
  <button type="submit">Create</button>
</form>